<%= render "spa/parts/navigation_bar" %>
<%= render "spa/components/dummy" %>
<%= render "spa/components/generic-actions" %>
<%= render "spa/components/navigation_bar_items" %>
<%= render "spa/components/channel" %>
<%= render "spa/components/channel-actions" %>
<%= render "spa/components/user_profile" %>
<%= render "spa/components/user" %>
<%= render "spa/components/friendship" %>
<%= render "spa/components/friendship-actions" %>

<div id="app" class="container">
	<div class="jumbotron" id="app" >
	</div>
</div>